<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>myservlets</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.neoapp.web.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/servlets/hi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Form</servlet-name>
		<servlet-class>com.neoapp.web.FormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Form</servlet-name>
		<url-pattern>/servlets/form</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NeoAppDate</servlet-name>
		<servlet-class>com.neoapp.web.DateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NeoAppDate</servlet-name>
		<url-pattern>/servlets/date</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Redirect</servlet-name>
		<servlet-class>com.neoapp.web.RedirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/servlets/redirect</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Emp</servlet-name>
		<servlet-class>com.neoapp.web.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Emp</servlet-name>
		<url-pattern>/servlets/emp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.neoapp.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Display</servlet-name>
		<servlet-class>com.neoapp.web.DisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Header</servlet-name>
		<servlet-class>com.neoapp.web.HeaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Header</servlet-name>
		<url-pattern>/neoapp/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Body</servlet-name>
		<servlet-class>com.neoapp.web.BodyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Body</servlet-name>
		<url-pattern>/servlet/page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Fotter</servlet-name>
		<servlet-class>com.neoapp.web.FotterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fotter</servlet-name>
		<url-pattern>/neoapp/fotter</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfigDemo</servlet-name>
		<servlet-class>com.neoapp.web.ConfigDemoServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>info@neoapp.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigDemo</servlet-name>
		<url-pattern>/servlets/config</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.neoapp.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.neoapp.web.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/neoapp/controller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>View1</servlet-name>
		<servlet-class>com.neoapp.web.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View1</servlet-name>
		<url-pattern>/view/v1</url-pattern>
	</servlet-mapping>

</web-app>